* {
    box-sizing: border-box;
    margin: 0;
}

.main_block {
    max-width: 845px;
    margin: auto;
    overflow: auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    color: #676565;
}

.header {
    padding: 2px 22px;
    font-size: 32px;
}

.form {
    background-color: #feeed6;
    padding: 19px 22px 12px;
}

.form_field_label {
    font-weight: bold;
}

.form_field {
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 10px 12px;
    width: 100%;
    border: 0;
}

.form_multiline_field {
    height: 130px;
    resize: vertical;
}

.form_button_block {
    margin-top: 6px;
    text-align: right;
}

.form_button {
    margin: 5px 0;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #378db2;
    color: #fff;
    background-color: #378db2;
    cursor: pointer;
}

.form_button:hover {
    border: 2px solid #32728d;
    background-color: #32728d;
}