* {
    box-sizing: border-box;
}

.margin {
    margin: 10px;
}

.margin-horizontal {
    margin: 0 10px;
}

.margin-vertical {
    margin: 10px 0;
}

#form > * {
    display: inline-block;
    vertical-align: top;
}

.invalid {
    border-color: #f00;
}

.error-message {
    color: #f00;
    display: none;
}