* {
    box-sizing: border-box;
    margin: 0;
}

.block{
    max-width: 860px;
    margin: auto;
    overflow: auto;
}

.main_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #aec2cf;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 24px;
    text-align: left;
}

.main_table th {
    border: 1px solid #aec2cf;
    color: #fff;
    background-color: #3498db;
}

.main_table td {
    border: 1px solid #aec2cf;
}

.main_table tr:nth-of-type(odd) {
    background-color: #eee;
}

.main_table th,
.main_table td {
    padding: 11px 14px;
}